/* Global settings */

html, body {
    height: 100%; /* Assurer que le body prend toute la hauteur */
    margin: 0; /* Retirer les marges par défaut */
}


body {
    display: flex;
    flex-direction: column; /* Organiser les éléments en colonne */
    font-family: Arial, sans-serif;
    padding: 0;
    background-color: #3c3656; /* Fond sombre */
    color: #e0e0e0; /* Texte clair */
}
/* Container for the main content */
.container {
    flex: 1; /* Prendre tout l'espace restant */
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
header {
    background-color: #6a0dad; /* Violet foncé */
    color: white;
    padding: 20px 0;
    text-align: center;
}
.column {
    padding: 0; /* Supprime les marges/paddings superflus */
}
header h1 {
    margin: 0;
    font-size: 2.5rem;
}

/* Navigation menu */
nav {
    background-color: #441bec !important; /* Violet foncé pour la navbar */
    padding: 10px; /* Ajoute du padding pour la navbar */
}


nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px; /* Espacement plus large entre les éléments de la nav */
}

nav ul li a {
    text-decoration: none;
    color: #e0e0e0; /* Texte clair */
    font-weight: bold;
    font-size: 1.2rem; /* Augmentation de la taille de la police pour les liens */
    padding: 10px 15px; /* Ajout de padding pour rendre les boutons plus grands */
    border-radius: 5px; /* Coins arrondis pour un effet esthétique */
    transition: background-color 0.3s; /* Transition pour l'effet de survol */
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Légère couleur de fond au survol */
    color: #d4a5ff; /* Violet plus clair au survol */
}

/* Main content section */
main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Article section styles */
article {
    background-color: #1e1e1e; /* Fond sombre pour les articles */
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: calc(33.333% - 40px);
    margin-right: 20px;
    border-radius: 8px;
}

article:last-child {
    margin-right: 0;
}

article h2 {
    margin-top: 0;
    font-size: 1.75rem;
    color: #e0e0e0; /* Texte clair */
}

article p {
    line-height: 1.6;
    color: #b0b0b0; /* Texte légèrement moins clair */
}

article a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #441bec !important; /* Violet */
    font-weight: bold;
}

article a:hover {
    color: #d4a5ff; /* Violet plus clair au survol */
}

/* Footer styles */
footer {
    background-color: #441bec !important; /* Violet foncé */
    color: white;
    text-align: center;
    padding: 10px 0; /* Padding pour le footer */
    margin-top: 20px;
}
footer p {
    margin: 0;
    font-size: 0.9rem; /* Petite taille de police pour le footer */
}

.card {
    height: 100%;
}

.card-image {
    width: 100%;
    height: 200px; /* Définir une hauteur fixe pour contrôler l'apparence de l'image */
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-image img {
    object-fit: contain; /* Redimensionne l'image sans la rogner, elle s'adapte au conteneur */
    width: 100%;
    height: 100%;
    background-color: #f0f0f0; /* Optionnel: couleur de fond pour combler les espaces */
}
.card:hover {
    transform: scale(1.05); /* Agrandir légèrement la carte au survol */
}

/* Cache la bandelette par défaut */
.card-overlay-hidden {
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Affiche la bandelette au survol */
.card:hover .card-overlay-hidden {
    opacity: 1;
}


.card-content {
    height: 40%; /* Ajuster le contenu à 40% de la hauteur de la carte */
    padding: 10px; /* Espace interne pour le contenu */
}
footer {
    background-color: #6a0dad; /* Violet foncé */
    color: white;
    text-align: center;
    padding: 5px 0; /* Réduction du padding pour un footer plus petit */
}
.modal-content {
     min-height: 800px;
     max-width: 500px;
     margin: auto;
 }
/* Style pour forcer l'image à s'adapter à son conteneur */
.modal-card .image {
    width: 100%; /* Prend toute la largeur du conteneur */
    height: auto; /* Maintient les proportions de l'image */
}

.modal-card img {
    max-width: 100%; /* Empêche l'image de dépasser la largeur du conteneur */
    max-height: 100%; /* Empêche l'image de dépasser la hauteur du conteneur */
    object-fit: contain; /* S'assure que l'image est contenue dans son conteneur */
}