/* Global settings */

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #3a1c71;
}


body {
    background-color: #3a1c71 !important;
    background-size: cover;
    color: white;
}
/* Container for the main content */
.container {
    flex: 1; /* Prendre tout l'espace restant */
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
}

/* Header styles */
header {
    background-color: #6a0dad; /* Violet foncé */
    color: white;
    padding: 20px 0;
    text-align: center;
}
.column {
    padding: 20px; /* Supprime les marges/paddings superflus */
}
header h1 {
    margin: 0;
    font-size: 2.5rem;
}
.title.is-5 {
    font-size: 1.25rem;
    color: burlywood;
}
.title.is-4 {
    font-size: 1.5rem;
    color: burlywood;
}
.navbar {
    min-height: 50px;
    background: transparent;
    box-shadow: none;
}
.navbar-item.has-text-white {
    min-height: 50px;
    font-weight: bold;
    padding : 50px;
}
.navbar-item {
    transition: color 0.3s ease, background-color 0.3s ease;
}

.section {
    flex: 1;
    padding-top: 50px;
    background-color: transparent;
}

#collections-container {
    background-color: transparent;
}
.columns > .column {
    background-color: transparent;
}
h1.title {
    font-size: 3rem;
    text-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
    color: #ffffff;
    font-weight: bold;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px; /* Espacement plus large entre les éléments de la nav */
}

nav ul li a {
    text-decoration: none;
    color: #e0e0e0; /* Texte clair */
    font-weight: bold;
    font-size: 1.2rem; /* Augmentation de la taille de la police pour les liens */
    padding: 10px 15px; /* Ajout de padding pour rendre les boutons plus grands */
    border-radius: 5px; /* Coins arrondis pour un effet esthétique */
    transition: background-color 0.3s; /* Transition pour l'effet de survol */
}

.button.is-primary {
    background-color: #ff4ecd;
    color: white;
    font-weight: bold;
}



/* Main content section */
main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Article section styles */
article {
    background-color: #1e1e1e; /* Fond sombre pour les articles */
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: calc(33.333% - 40px);
    margin-right: 20px;
    border-radius: 8px;
}

article:last-child {
    margin-right: 0;
}

article h2 {
    margin-top: 0;
    font-size: 1.75rem;
    color: #e0e0e0; /* Texte clair */
}

article p {
    line-height: 1.6;
    color: #b0b0b0; /* Texte légèrement moins clair */
}

article a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #441bec !important; /* Violet */
    font-weight: bold;
}


/* Footer styles */
footer {
    margin-top: auto;

    background-color: transparent !important; /* Violet foncé */
    color: white;
    text-align: center;
    padding: 10px 0; /* Padding pour le footer */
}
footer p {
    margin: 0;
    font-size: 0.9rem; /* Petite taille de police pour le footer */
}

.card {
    background-color: rgba(255, 255, 255, 0.1); /* Blanc transparent */
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-image {
    width: 100%;
    height: 200px; /* Définir une hauteur fixe pour contrôler l'apparence de l'image */
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-image img {
    object-fit: contain; /* Redimensionne l'image sans la rogner, elle s'adapte au conteneur */
    width: 100%;
    height: 100%;
    background-color: #f0f0f0; /* Optionnel: couleur de fond pour combler les espaces */
}
.card:hover {
    transform: translate(-2px, -5px) rotate(1deg);
    transition: transform 0.2s ease-in-out;
}
/* Cache la bandelette par défaut */
.card-overlay {
    background: rgba(0, 0, 0, 0.6); /* Noir avec un peu de transparence */
    color: white;
    padding: 5px;
    text-align: center;
    border-radius: 0 0 8px 8px;
}
.card-overlay-hidden {
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Affiche la bandelette au survol */
.card:hover .card-overlay-hidden {
    opacity: 1;
}

#cards {
    background-color: transparent !important;
}

.card-content {
    height: 40%; /* Ajuster le contenu à 40% de la hauteur de la carte */
    padding: 10px; /* Espace interne pour le contenu */
}
#modal-id {
    color: white;
}
.modal-content {
     min-height: 800px;
     max-width: 500px;
     margin: auto;
 }
/* Style pour forcer l'image à s'adapter à son conteneur */
.modal-card .image {
    width: 100%; /* Prend toute la largeur du conteneur */
    height: auto; /* Maintient les proportions de l'image */
}

.modal-card img {
    max-width: 100%; /* Empêche l'image de dépasser la largeur du conteneur */
    max-height: 100%; /* Empêche l'image de dépasser la hauteur du conteneur */
    object-fit: contain; /* S'assure que l'image est contenue dans son conteneur */
}
.modal-card-body {
    border-bottom: none;
    -webkit-overflow-scrolling: touch;
    background-color: #6a0dad;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
    padding: 20px;
}
.collections-container{
    color : #6a0dad;
}
.modal-card-head {
    border-bottom: none;
    background-color : #3a1c71;
    border-bottom: 1px solid #dbdbdb;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
#box is-shadowless{
    background-color : transparent;
}

.box{
    background-color : transparent;
}
.card-image:last-child img {
    background-color: transparent;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}
.card-image:first-child img {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background-color: transparent;
}

.price-text {
    color: #ffffff; /* Texte blanc pour contraster avec le fond violet */
    background-color: rgba(0, 0, 0, 0.6); /* Fond noir semi-transparent */
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.2em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Légère ombre pour le rendre plus visible */
}

.navbar-item:hover {
    color: #ff4ecd; /* Change la couleur pour correspondre à votre thème */
    background-color: white; /* New line for hover background color */
    font-weight: normal; /* Préserver le poids pour éviter le squeezing */
}

.label:not(:last-child) {
    margin-bottom: .5em;
    color: bisque;
}
blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul {
    margin: 0;
    padding: 0;
    color: white;
}
strong {
    color: bisque;
    font-weight: 700;
}
.modal-card-title {
    color: bisque;
    flex-grow: 1;
    flex-shrink: 0;
    font-size: 1.5rem;
    line-height: 1;
}